.field {
    background-color: #eceff4;
    border-radius: 2px;
    border-style: outset;
    border-width: 2px;
    border-color: #3b4252;;
    font-size: medium;
    padding: 4px;
    transition: 0.7s;
    margin: 2px;
}

.field:hover {
    background-color:#ebcb8b;
    transition: 0.7s;
    cursor: pointer;
}