<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/container-article.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/field.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{{ url_for('home') }}">Пошук</a>
            <a href="{{ url_for('articles') }}">Статті</a>
            <a href="{{ url_for('authorization') }}" class="right-link">Війти</a>
        </nav>
    </header>

    <div class="container-article-closed">
        <h2>{{title}}</h2><hr>
        <h3>{{text}}</h3>
    </div>
</body>
</html>