<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/container-center.css">
    <link rel="stylesheet" href="styles/button.css">
    <link rel="stylesheet" href="styles/field.css">
    <link rel="stylesheet" href="styles/container2.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Search</a>
            <a href="articles.html">Articles</a>
            <a href="authorization.html" class="right-link">Log in</a>
        </nav>
    </header>

    <div class="container-center">
        <form method="post">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="field"><br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="field"><br>
            
            <button class="button">
                Log in
            </button><br>
            <a href="registration.html">Don't have an account? Click on me!</a>
        </form>
    </div>

    <div class="container2 {{style}} {{message_visible}}">
        <h4>{{message}}</h4>
    </div>
</body>
</html>