<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/container-center.css">
    <link rel="stylesheet" href="styles/button.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="/">Search</a>
            <a href="articles.html">Articles</a>
            <a href="authorization.html" class="right-link">Log in</a>
        </nav>
    </header>

    <div class="container-center">
        <form>
            <p>We sent a message to the specified email address.</p>
            <p>To log in, click the "Confirm" button in the email.</p>
            
            <div class="button-center">
                <button class="button">
                    Back to main page
                </button>
            </div>
        </form> 
    </div>
</body>
</html>