<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/common.css">
    <link rel="stylesheet" href="../static/styles/container.css">
    <link rel="stylesheet" href="../static/styles/container2.css">
    <link rel="stylesheet" href="../static/styles/button.css">
    <link rel="stylesheet" href="../static/styles/field.css">
    <link rel="stylesheet" href="../static/styles/add-button.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#">Пошук</a>
            <a href="#">Статті</a>
            <a href="#" class="right-link">Війти</a>
        </nav>
    </header>

    <div class="container">
        <form>
            <label for="number">Номер:</label>
            <input type="text" id="number" name="number" class="field">
            <button class="button">
                Пошук
            </button>
        </form> 
    </div>

    <div class="container2">
        <h4>Номер {{number}} є в базі</h4>
    </div>

    <div class="container2">
        <h4>Коментар:</h4>
        <h4>{{comment}}</h4>
    </div>

    <button class="add-button">+</button>
</body>
</html>