<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/common.css">
    <link rel="stylesheet" href="../static/styles/container-center.css">
    <link rel="stylesheet" href="../static/styles/button.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#">Пошук</a>
            <a href="#">Статті</a>
            <a href="#" class="right-link">Війти</a>
        </nav>
    </header>

    <div class="container-center">
        <form>
            <p>Вам було надіслано повідомлення за вказаною поштою.</p>
            <p>Для того, щоб авторизуватись, натисніть кнопку "Підтвердити" в листі.</p>
            <div class="button-center">
                <button class="button">
                    До Входу
                </button>
            </div>
        </form> 
    </div>
</body>
</html>