.container2 {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 15px;
    border-radius: 10px;
    background-color: #d8dee9;
    border-style: dashed;
    border-width: 2px;
    border-color: #3b4252;
    padding: 7px;
}

.red {
    background-color: #bf616a;
}

.green {
    background-color: #a3be8c;
}