header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    z-index: 999;
    align-items: center;
    justify-content: center;
    background-color: rgba(216, 222, 233, 0.3);
    backdrop-filter: blur(10px);
    border-bottom: 2px ridge #3b4252;
    height: 25px;
}

.navbar {
    text-align: center;
}

a {
    text-decoration: none;
    color: #3b4252;
    font-size: large;
}

.right-link {
    position: fixed;
    margin-right: 10px;
    right: 0;
}